/ExperientialLanguages/bin/
/ExperientialLanguages/obj/
/ExperientialLanguagesTests/bin/
/ExperientialLanguagesTests/obj/
/LanguageConsole/obj/
/LanguageConsole/bin/
.idea/
.git/
*.user
TestResults/
*.editorconfig